<% layout('layouts/boilerplate') %> 
<div class="container justify-content-center align-items-center ">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1534880606858-29b0e8a24e8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNhbXB8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" 
                    class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">LOGIN</h5>
                    <form action="/login" method="post" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" placeholder="Enter Username"
                                autofocus name="username" required>
                            <div class="valid-feedback">
                                Looks Good!!
                            </div>
                            <div class="invalid-feedback">
                                Username Required
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" placeholder="Enter Password"
                                name="password" required>
                            <div class="valid-feedback">
                                Looks Good!!
                            </div>
                            <div class="invalid-feedback">
                                Password Required
                            </div>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-success btn-block">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

